
<h2> Hello Joe @ViewData["username"]

    Build The Admin Panel 
</h2>

<ul>
    <li> 1. Post a Job</li>
    <li> 2. Send a Job Request</li>
    <li> 3. Get the Applied Candidate's Data</li>
    <li> 4. Select and Denote An Applicante</li>

        <ul>
            <li> 1. USER TABLE </li>
            <li> 2.  </li>

        </ul>

</ul>