
<h2>Job Listing</h2>


<p> Jobs  Currently </p>
<select name="jobtype" id="jobtype">
<option value="carpentry">Carpentry</option>
</select>

@for (int i = 0; i < 5; i++)
{
<div class="card">
<h1>Job Image</h1>
<p>Job Type</p>
<p>Job Desciption</p>
<p>Posted Date</p>
</div>
}
