@page "/Commodity"
@using Stock_Trading_App.Data


<PageTitle>Market Commodity</PageTitle>

<h1>Market Commodity</h1>

<div class="commodity-card">
   <h2>OIL</h2> 
  <ul>
    <li>comoditiyName</li>
    <li>comoditiyInterval</li>
    <li>comoditiyCost</li>
    <li>comoditiyData</li>
  </ul>
</div>

<div class="commodity-card">
   <h2>Coffee</h2> 
  <ul>
    <li>comoditiyName</li>
    <li>comoditiyInterval</li>
    <li>comoditiyCost</li>
    <li>comoditiyData</li>
  </ul>
</div>


<div class="commodity-card">
   <h2>Silver</h2> 
  <ul>
    <li>comoditiyName</li>
    <li>comoditiyInterval</li>
    <li>comoditiyCost</li>
    <li>comoditiyData</li>
  </ul>
</div>



@code {
    
}
