@page "/FiatCurrency"
 @inject ICurrencyServices _Currencys
<PageTitle> FIAT Currency Convertor </PageTitle>

<h1>FIAT Currency Convertor</h1>



  <div class="form">
    <label for="currency-from">Currency From</label>
    <select @bind="CurrrencyFromCode"  id="currency-form">
      <option value="GHS" >Ghana Cedis</option>
      <option value="USD">US Dollar</option>
      <option value="EUR">Euro</option>
      <option value="IRR"> Iranian Rial</option>
      <option value="JPY"> Japanese Yen </option>
      <option value="KRW"> South Korean Won</option>
      <option value="RUB"> Russian Ruble</option>
    </select>
    <label for="currency-to">Currency To </label>
    <select @bind="CurrrencyToCode"  id="currency-to">
      <option value="EUR">Euro</option>
      <option value="GHS">Ghana Cedis</option>
      <option value="USD">US Dollar</option>
      <option value="IRR"> Iranian Rial</option>
      <option value="JPY"> Japanese Yen </option>
      <option value="KRW"> South Korean Won</option>
      <option value="RUB"> Russian Ruble</option>
    </select>
  </div>

   <label for="Cform">Currency From</label>
   <input @bind="CurrrencyFrom" type="number" step="0.0045"  id="Cform">

   
   <label for="CTo">Currency To</label>
   <input  @bind="CurrrencyTo"  readonly type="number" step="0.0045"  id="CTo">



  <button @onclick=@(()=>GetExchangeRate(@CurrrencyFromCode,@CurrrencyToCode))  >Convert</button>



<style>
.result{
padding: 1em;
margin-top:2em;
width:47%; 
box-shadow:0px 1px 4px 1px black;
border-radius: .4em;
}

</style>

<div class="result">    
<p>@ConnectionStatus</p>
</div>


@if (ConvertionSuccessState)
{
  <div class="result con-rate">
      <h2>@ConversionData!.CurrentRate!.currencyToName</h2>
     <p>Ask Bid  @ConversionData!.CurrentRate!.currencyToExchangeRate</p>
     <p>Ask Bid  @ConversionData!.CurrentRate!.AskPrice</p>
     <p>Bid Price @ConversionData!.CurrentRate!.BidPrice</p>
     <p>Currency From Name @ConversionData!.CurrentRate.currencyFromName</p>
     <p>Currency To Name @ConversionData!.CurrentRate.currencyToName</p>
     <p>Currency TimeStamp @ConversionData!.CurrentRate.timeCaptured</p>
  </div>
}

  


@code {


   private Decimal ConvertionRate ; 
   private bool ConvertionSuccessState = false; 
   private Decimal CurrrencyTo; 

    private string? CurrrencyToCode = "EUR"; 
   private Decimal CurrrencyFrom; 
    private string? CurrrencyFromCode = "GHS"; 

    private ExchangeRate? ConversionData;


   private string? ConnectionStatus; 

     private void CalculateCurrency(Decimal CurrencyFromAmount)
     {
       
        CurrrencyTo =  Math.Round(CurrencyFromAmount * ConvertionRate,2);
      
     }

        

     private async Task GetExchangeRate(string FromCurrencyCode,string ToCurrencyCode){
        try{

        ConnectionStatus  = "Loading ...";

        var ResultConvertion = await _Currencys.ConvertFiatCurrency(FromCurrencyCode,ToCurrencyCode);

          ConversionData = ResultConvertion;

          ConvertionSuccessState = true;

          ConnectionStatus  = "Loading Complete";

          ConvertionRate = Convert.ToDecimal(ResultConvertion!.CurrentRate!.currencyToExchangeRate);  

          CalculateCurrency(CurrrencyFrom);


      }catch (Exception e )
      {
        ConnectionStatus = "Error Retriving Current Convertion Rate";

        System.Console.WriteLine(e.Message);
         
      }
     
     } 
     

     




} 
